<header class="p-3 text-white mb-5">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="align-items-center nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <img src="assets/img/logo.png" class="logo me-2" alt="Logo de EatEasy">
          </a>
        <li><a href="/restaurants" class="nav-link px-2 text-white">Restaurants</a></li>
        <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
        <li><a href="/about" class="nav-link px-2 text-white" >About Us</a></li> <!-- Cambiado de ngSubmit a click y agregado la función about() -->
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" (ngSubmit)="searchRestaurant()">
        <input type="search" class="form-control form-control-dark" placeholder="Buscar..." aria-label="Buscar" [(ngModel)]="searchTerm" name="searchTerm" aria-label="Search">
      </form>

      <div class="text-end">
        <a href="/login" class="btn btn-light me-2">Iniciar Sesión</a>
        <a href="/register" class="btn btn-light">Registrarse</a>
      </div>
    </div>
  </div>
</header>
