  <div class="container">
    <h2>Sobre Nosotros - EatEasy</h2>
    <p>En EatEasy, nos enorgullece ser tu compañero de confianza en el mundo culinario. Con una amplia red de restaurantes afiliados, nuestra aplicación te brinda la comodidad de explorar y reservar en una variedad de lugares para satisfacer tu paladar.</p>

    <h4>Descubre Nuevas Experiencias Gastronómicas:</h4>
    <p>Explora una variedad de opciones culinarias, desde acogedores cafés hasta elegantes restaurantes gourmet. Con nuestro extenso catálogo de restaurantes, siempre encontrarás algo que se adapte a tus preferencias y ocasiones.</p>

    <h4>Reservas Sencillas y Eficientes:</h4>
    <p>¿Quieres asegurarte de tener una mesa disponible en tu restaurante favorito? Con EatEasy, reservar una mesa es rápido y sencillo. Simplemente elige el restaurante, selecciona la fecha y hora que prefieras, ¡y tu mesa estará lista cuando llegues!</p>

    <h4>Promociones y Ofertas Especiales:</h4>
    <p>Mantente al tanto de las últimas promociones y ofertas especiales de nuestros restaurantes asociados. Ya sea un descuento exclusivo, un menú especial de temporada o eventos gastronómicos emocionantes, ¡te mantendremos informado para que no te pierdas nada!</p>

    <h4>Tu Experiencia, Nuestra Prioridad:</h4>
    <p>En EatEasy, nos esforzamos por ofrecerte una experiencia gastronómica sin complicaciones y placentera. Desde el momento en que exploras nuestro catálogo hasta que disfrutas de tu comida, estamos aquí para hacer que tu experiencia sea inolvidable.</p>
  </div>
