<div class="container text-center custom-margin">
  <div class="row">
    <div class="col">
      <ng-container *ngIf="restaurants && restaurants.length > 0; else noRestaurants">
        <ul class="list-unstyled">
          <li *ngFor="let restaurant of pagedRestaurants">
            <div class="card mb-3 mt-5">
              <div class="row g-0 align-items-center">
                <div class="col-md-4">
                  <img [src]="restaurant.url" alt="{{ restaurant.name }}" class="img-fluid rounded-start restaurant-image">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h2 class="card-title">{{ restaurant.name }}</h2>
                    <p><strong><i class="fas fa-utensils"></i></strong> {{ restaurant.foodStyle }}</p>
                    <p><strong><i class="fas fa-map-marker-alt"></i></strong> {{ restaurant.location }}</p>
                    <div class="star-rating" *ngIf="restaurant.starRating !== undefined">
                    </div>
                   <!--<div class="heart-rating">
                      <i class="fa fa-heart"
                         [class.liked]="restaurant.favoriteRestaurants"
                         (click)="toggleLike(restaurant)">
                      </i>
                    </div>     -->
                  </div>
                  <div class="mt-3">
                    <button class="btn btn-danger me-2" (click)="deleteRestaurant(restaurant.id!)">Eliminar</button>
                    <button class="btn btn-primary me-2" (click)="updateRestaurant(restaurant.id!)">Actualizar</button>
                    <button class="btn btn-outline-secondary " (click)="verDetalles(restaurant.id!)">Ver Detalles</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

      </ng-container>
      <ng-template #noRestaurants>
        <p>No hay restaurantes disponibles.</p>
      </ng-template>
    </div>
  </div>
</div>
