<header class="p-3 text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a  class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="assets/img/logo.png" class="logo me-2" alt="Logo de EatEasy">
      </a>
      <ul class="align-items-center nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/indexAdmin" class="nav-link px-2 text-white">Restaurantes</a></li>
        <li><a href="/reviewAdmin" class="nav-link px-2 text-white">Reviews</a></li>
        <li><a href="/usersAdmin" class="nav-link px-2 text-white">Usuarios</a></li>
        <li><a href="/createRestAdmin" class="nav-link px-2 text-white">Crear Restaurante</a></li>
      </ul>

      <form class="form col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" (ngSubmit)="searchRestaurant()">
        <button type="submit">
            <svg width="17" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="search">
                <path d="M7.667 12.667A5.333 5.333 0 107.667 2a5.333 5.333 0 000 10.667zM14.334 14l-2.9-2.9" stroke="currentColor" stroke-width="1.333" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </button>
        <input type="text" class="input" placeholder="Buscar..." aria-label="Buscar" [(ngModel)]="searchTerm" name="searchTerm" aria-label="Search">
        <button class="reset" type="reset">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
        </button>
    </form>


  <ng-container>
    <button class="button" (click)="logout()">
      <span class="button-content">Cerrar Sesion</span>
    </button>
    </ng-container>
</div>
    </div>

</header>
