

@media (max-width: 992px) {
  .custom-margin {
    padding-bottom: 10%;
  }
}

@media (max-width: 700px) {
  .custom-margin {
    padding-bottom: 20%;
  }
}


ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

.contenedor{
  margin:8%;
}


/*BOTON*/
.button {
  position: relative;
  overflow: hidden;
  height: 3rem; 
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #2f2d3b;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 1rem; 
}

.button:last-child {
  margin-right: 0;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgb(111, 70, 173) 10.8%,
    rgb(63, 56, 155) 94.3%
  );
  transition: all 0.475s;
}


.custom-section {
  margin-top: 10%;
  margin-bottom: 10%;
}

.margin{
  padding: 5%;
}


/*ESTRELLAS*/

.star-rating {
  display: flex;
  justify-content: center; 
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 20px; 
}

.star-rating .fa-star {
  font-size: 2rem;
  color: #ccc; 
  cursor: pointer;
}

.star-rating .fa-star.filled {
  color: #ffc107;
}

