<div class="contenedor text-center custom-margin mt-5" *ngIf="restaurant">
  <div class="row justify-content-start">
    <div class="col-md-6 mb-4"> 
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img [src]="restaurant.url" alt="{{ restaurant.name }}" class="d-block w-100">
          </div>
          <div *ngFor="let image of restaurant.images; let i = index" class="carousel-item">
            <img [src]="image.url" alt="{{ restaurant.name }}" class="d-block w-100">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    
    <div class="col-md-6 text-start align-items-start ml-md-5 columna justify-content-center text-center">
      <h1>{{ restaurant.name }}</h1><br>
      <div class="d-flex flex-column">
        <p class="mb-2"><strong><i class="fas fa-map-marker-alt me-2"></i></strong> {{ restaurant.location }}</p>
        <p class="mb-2"><strong><i class="fas fa-utensils me-2"></i></strong> {{ restaurant.foodStyle }}</p>
        <p class="mb-2"><strong><i class="far fa-clock me-2"></i></strong> {{ restaurant.timeTable }}</p>
        <p class="mb-2"><strong><i class="fas fa-phone me-2"></i></strong> {{ restaurant.phoneNumber }}</p><br>
      </div>
      <ng-container *ngIf="isAuthenticated()">
        <button (click)="verDetalles(restaurant.id!)" class="button">
          <span class="button-content">Reservar</span>
        </button>
      </ng-container>
      <ng-container *ngIf="!isAuthenticated()">
        <button [routerLink]="['/login']" class="button">
          <span class="button-content">Reservar</span>
        </button>
      </ng-container>
    </div>
  </div>
  
  
    <div class="container my-4">
      <div class="row custom-section">
          <div class="col-md-6 margin">
              <h2>Descripción</h2><br>
              <p>{{restaurant.description}}</p>
          </div>
          <div class="col-md-6">
            <iframe [src]="extractIframeSrc(restaurant.userIframeSrc)" style="border:0; width:100%; height:500px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
      </div>
  </div>


  <div class="row" >
    <div class="col-md-4" *ngIf="isAuthenticated()">
      <div>
        <h2 class="mt-5">Deja tu opinión</h2>
        <form (ngSubmit)="submitReview()"> <!--(ngSubmit)="submitReview()"-->
          <div class="mb-3">
            <textarea class="form-control" id="comment" rows="3" [(ngModel)]="newReview.comment" name="comment" required></textarea>
          </div>
          <div class="mb-3">
            <div class="star-rating">
              <i class="fa fa-star" [class.filled]="newReview.assessment >= 1" (click)="setRating(1)"></i>
              <i class="fa fa-star" [class.filled]="newReview.assessment >= 2" (click)="setRating(2)"></i>
              <i class="fa fa-star" [class.filled]="newReview.assessment >= 3" (click)="setRating(3)"></i>
              <i class="fa fa-star" [class.filled]="newReview.assessment >= 4" (click)="setRating(4)"></i>
              <i class="fa fa-star" [class.filled]="newReview.assessment >= 5" (click)="setRating(5)"></i>
            </div>
          </div>
          <button class="button" type="submit">
            <span class="button-content">Enviar</span>
          </button>
        </form>
      </div>
    </div>
    
    
    <div class="col-md-{{ isAuthenticated() ? '8' : '12' }}">
      <div *ngIf="reviews.length > 0">
        <h2 class="mt-5">Opiniones</h2>
        <div class="row ">
          <div class="col-md-4" *ngFor="let review of reviews">
            <ul class="list-unstyled">
              <li class="mb-3">
                <section>
                  <div class="row text-center">
                    <div class="col-md-12 mb-0">
                      <div class="d-flex justify-content-center mb-4">
                        <img [src]="review.userProfilePicture" alt="{{ review.userProfilePicture}}" class="img-fluid rounded-circle " style="width: 50px; height: 50px;">
                      </div>
                      <h5 class="mb-3">{{review.userName}}</h5>
                      <h6 class="text-primary mb-3">{{review.createdAt | date:'dd/MM/yyyy, HH:mm' }}</h6>
                      <p class="px-xl-3">
                        <i class="fas fa-quote-left pe-2"></i>{{review.comment}}
                      </p>
                      <ul class="list-unstyled d-flex justify-content-center mb-0">
                        <div *ngIf="review.assessment !== undefined">
                          <ul class="list-unstyled d-flex justify-content-center mb-0">
                            <li *ngFor="let _ of generarArreglo(review.assessment)">
                              <i class="fas fa-star fa-sm text-warning"></i>
                            </li>
                          </ul>
                        </div>
                      </ul>
                    </div>
                  </div>
                </section>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  


  


 
  
  
  <div *ngIf="reviews.length === 0">
    <p class="mt-5">No existen reseñas.</p>
  </div>
</div>
