<div class="container text-center custom-margin mt-5" *ngIf="restaurant">
  <div class="row">
    <div class="col-md-6">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img [src]="restaurant.url" alt="{{ restaurant.name }}" class="d-block w-100">
          </div>
          <div *ngFor="let image of restaurant.images; let i = index" class="carousel-item">
            <img [src]="image.url" alt="{{ restaurant.name }}" class="d-block w-100">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    
    <div class="col-md-6 text-start align-items-start ml-md-3">
      <h1>{{ restaurant.name }}</h1>
      <p><strong><i class="fas fa-map-marker-alt"></i></strong> {{ restaurant.location }}</p>
      <p><strong><i class="fas fa-utensils"></i></strong> {{ restaurant.foodStyle }}</p>
      <p><strong><i class="far fa-clock"></i></strong> {{ restaurant.timeTable }}</p>
      <p><strong><i class="fas fa-phone"></i></strong> {{ restaurant.phoneNumber }}</p>
  </div>
  
  
  
  
  <!--<p><strong>Capacidad:</strong> {{ restaurant.capacity }}</p>-->
  


  <div *ngIf="reviews.length > 0">
    <h2 class="mt-5">Opiniones</h2>
    <div class="row">
      <div class="col-md-4" *ngFor="let review of reviews">
        <ul class="list-unstyled">
          <li class="mb-3">
            <section>
              <div class="row text-center">
                <div class="col-md-12 mb-0">
                  <div class="d-flex justify-content-center mb-4">
                    <img [src]="review.userProfilePicture" alt="{{ review.userProfilePicture}}" class="img-fluid rounded-circle " style="width: 50px; height: 50px;">
                  </div>
                  <h5 class="mb-3">{{review.userName}}</h5>
                  <h6 class="text-primary mb-3">{{review.createdAt}}</h6>
                  <p class="px-xl-3">
                    <i class="fas fa-quote-left pe-2"></i>{{review.comment}}
                  </p>
                  <ul class="list-unstyled d-flex justify-content-center mb-0">
                    <div *ngIf="review.assessment !== undefined">
                      <ul class="list-unstyled d-flex justify-content-center mb-0">
                        <li *ngFor="let _ of generarArreglo(review.assessment)">
                          <i class="fas fa-star fa-sm text-warning"></i>
                        </li>
                      </ul>
                    </div>
                  </ul>
                </div>
              </div>
            </section>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <div *ngIf="reviews.length === 0">
    <p class="mt-5">No existen reseñas.</p>
  </div>
</div>
