<header class="p-3 text-white mb-5">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="align-items-center nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="assets/img/logo.png" class="logo me-2" alt="Logo de EatEasy">
            </a>
          <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" (ngSubmit)="searchRestaurant()">
          <input type="search" class="form-control form-control-dark" placeholder="Buscar..." aria-label="Buscar" [(ngModel)]="searchTerm" name="searchTerm" aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-light me-2">Iniciar Sesión</button>
          <button type="button" class="btn btn-light">Registrarse</button>
        </div>
      </div>
    </div>
  </header>

<router-outlet></router-outlet>

<footer class="footer-04">
    <div class="container">
    <div class="row">
    <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
    <h2 class="footer-heading"><a href="#" class="logo">EatEasy</a></h2>
    <p>En EatEasy, entendemos la importancia de cada detalle cuando se trata de disfrutar de una experiencia gastronómica excepcional. Nos enorgullece ser el puente entre los usuarios locales y los mejores restaurantes de la región, ofreciendo un servicio de reserva de mesas eficiente y personalizado.</p>
    </div>
    <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
    <h2 class="footer-heading">Categories</h2>
    <ul class="list-unstyled">
    <li><a href="#" class="py-1 d-block">Buy &amp; Sell</a></li>
    <li><a href="#" class="py-1 d-block">Merchant</a></li>
    <li><a href="#" class="py-1 d-block">Giving back</a></li>
    <li><a href="#" class="py-1 d-block">Help &amp; Support</a></li>
    </ul>
    </div>
    <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
    <h2 class="footer-heading">Tag cloud</h2>
    <div class="tagcloud">
    <a href="#" class="tag-cloud-link">dish</a>
    <a href="#" class="tag-cloud-link">menu</a>
    <a href="#" class="tag-cloud-link">food</a>
    <a href="#" class="tag-cloud-link">sweet</a>
    <a href="#" class="tag-cloud-link">tasty</a>
    <a href="#" class="tag-cloud-link">delicious</a>
    <a href="#" class="tag-cloud-link">desserts</a>
    <a href="#" class="tag-cloud-link">drinks</a>
    </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
    <h2 class="footer-heading">Subcribe</h2>
    <form action="#" class="subscribe-form">
    <div class="form-group d-flex">
    <input type="text" class="form-control rounded-left" placeholder="Enter email address">
    <button type="submit" class="form-control submit rounded-right"><span class="sr-only">Submit</span><i class="ion-ios-send"></i></button>
    </div>
    </form>
    </div>
    </div>
    </div>
    <div class="w-100 mt-5 border-top py-5">
    <div class="container">
    <div class="row">
    <div class="col-md-6 col-lg-8">
    <p class="copyright">
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ion-ios-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
    </p>
    </div>
    <div class="col-md-6 col-lg-4 text-md-right">
    <p class="mb-0 list-unstyled">
    <a class="mr-md-3" href="#">Terms</a>
    <a class="mr-md-3" href="#">Privacy</a>
    <a class="mr-md-3" href="#">Compliances</a>
    </p>
    </div>
    </div>
    </div>
    </div>
    </footer>

