header {
  background-color: #fd3343; /* ROSA */
  color: #f9ffff; /* BLANCO */
}

.nav-link {
  color: #f9ffff !important; /* BLANCO */
}

.form-control-dark {
  background-color: #f9ffff; /* BLANCO */
  color: #000000; /* NEGRO */
}

.logo {
  height: 40px; /* Altura deseada del logotipo */
}