<header class="mi-header">
  <div class="logo-nombre">
    <img src="assets/img/logo.png" alt="EatEasy">
    <h2 style="margin-top: 10px;">{{title}}</h2>
  </div>
  <div class="buscador">
    <input aria-label="search" type="search" placeholder="Buscar restaurante" class="form-control">
    <button type="submit">Buscar</button> 
  </div>
</header>
<app-restaurant></app-restaurant>
  <footer class="footer">
      <div class="grupo-1">
          <div class="box">
              <h2>SOBRE NOSOTROS</h2>
              <p>En EatEasy, entendemos la importancia de cada detalle cuando se trata de disfrutar de una experiencia gastronómica excepcional. Nos enorgullece ser el puente entre los usuarios locales y los mejores restaurantes de la región, ofreciendo un servicio de reserva de mesas eficiente y personalizado.</p>
              <p>Nuestro objetivo es simple: facilitar a nuestros clientes la posibilidad de disfrutar de momentos memorables en los restaurantes más destacados de nuestra comunidad. Ya sea para una ocasión especial o simplemente para una salida casual, estamos aquí para hacer que cada reserva sea sin complicaciones y totalmente satisfactoria.</p>
          </div>
          <div class="box">
              <h2>Conocenos mas:</h2>
              <div class="red-social">
                <img src="assets/img/facebook.jpg" alt="Facebook">
                <img src="assets/img/insta.png" alt="Instagram">
                <img src="assets/img/tiktok.png" alt="TikTok">
                <img src="assets/img/x.png" alt="Otra red social">
            </div>
          </div>
      </div>
      <div class="grupo-2">
          <small>&copy; 2024 EatEasy. Todos los derechos reservados.</small>
      </div>
  </footer>
