header {
  background-color: #fd3343; /* ROSA */
  color: #f9ffff; /* BLANCO */
}


.nav-link {
  color: #f9ffff !important; /* BLANCO */
}

.form-control-dark {
  background-color: #f9ffff; /* BLANCO */
  color: #000000; /* NEGRO */
}

.logo {
  height: 60px; /* Altura deseada del logotipo */
}

.footer {
  position:initial;
  width: 100%;
  background-color: black;    /* he puesto este color por que quieria ver el color de abajo si se quita se quitara me da igual el color*/
  color: white;
}
