<div *ngIf="reviews.length > 0">
  <h2>List of Reviews</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Comment</th>
        <th>Id</th>
        <th>Created At</th>
        <th>Restaurant ID</th>
        <th>userId</th>
        <th>Name</th>
        <th>ProfilePicture</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let review of reviews">
        <td>{{ review.comment }}</td>
        <td>{{ review.id }}</td>
        <td>{{ review.createdAt | date }}</td>
        <td>{{ review.restaurantId }}</td>
        <td>{{ review.userId }}</td>
        <td>{{ review.userName}}</td>
        <td>
          <img [src]="review.userProfilePicture" alt="{{ review.userProfilePicture}}" class="img-fluid rounded-circle restaurant-image" style="width: 50px; height: 50px;">
        </td>
        
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="reviews.length === 0">
  <p>No reviews available.</p>
</div>
