
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%; /* Ajustado para que sea menos largo */
  margin-bottom: 20px; /* Añadido para separar los dos bloques */
}

.black-background {
  background-color: black;
}

.lean-background {
  background-color: teal; /* Color tipo lean */
  text-align: center;
}

.carousel {
  width: 100%; /* Ajustado para que sea más ancho */
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 300px; /* Ajustado para que sea menos largo */
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-indicators {
  bottom: 10px;
}

.carousel-indicators .active {
  background-color: #007bff;
}
