<link rel="stylesheet" href="index.component.css">
<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/img/comida1.jpg" class="d-block w-100" alt="...">
            <div class="overlay"></div>
            <div class="carousel-caption">
                <h5 class="display-4">EatEasy</h5>
                <p>¡El placer de comer está a solo un clic de distancia!.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/img/comida3.jpg" class="d-block w-100" alt="...">
            <div class="overlay"></div>
            <div class="carousel-caption">
                <h5 class="display-4">Novedades</h5>
                <p>Entra en nuestra sección de restaurantes y echa un ojo.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/img/comida2.jpg" class="d-block w-100" alt="...">
            <div class="overlay"></div>
            <div class="carousel-caption">
                <h5 class="display-4">Reservas</h5>
                <p>¿A qué estás esperando? ¡Reserva ya!.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="row custom-section align-items-center">
    <div class="col-md-6 text-center">
        <h1 class="section-title">Descubre un Mundo de Sabores: ¡Explora Nuestros Restaurantes!</h1>
        <p class="section-text">¡Bienvenidos a un viaje culinario único! En cada rincón de nuestra ciudad aguarda una experiencia gastronómica por descubrir. Desde los sabores tradicionales que evocan nostalgia hasta las creaciones innovadoras que despiertan los sentidos, nuestros restaurantes son el escenario perfecto para explorar y deleitarse con lo mejor de la cocina local e internacional.</p>
    </div>
    <div class="col-md-6">
        <img src="assets/img/comida5.jpg" class="img-fluid rounded" alt="Imagen">
    </div>
</div>



<div class="row custom-section align-items-center">
    <div class="col-md-6 text-center">
        <img src="assets/img/comida8.webp" class="img-fluid rounded" alt="Imagen">
    </div>
    <div class="col-md-6 text-center">
        <h1 class="section-title">Haz de la comida una experiencia...</h1>
        <p class="section-text">Imagina una cena bajo las estrellas en un acogedor restaurante familiar, donde cada plato cuenta una historia de tradición y pasión. O sumérgete en la vibrante atmósfera de un bullicioso mercado gastronómico, donde los aromas exóticos y los colores tentadores te invitan a probar bocados de todo el mundo.
            Desde el desayuno hasta la cena, nuestros restaurantes ofrecen una variedad infinita de opciones para satisfacer todos los paladares y ocasiones. ¿Buscas un brunch relajado con amigos, una comida de negocios elegante o una cena romántica para dos? Aquí encontrarás el lugar perfecto para cada ocasión.</p>
    </div>
    
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
