<div class="container custom-section" *ngIf="user">    
    <h2><img *ngIf="user" [src]="user.profilePicture ? user.profilePicture : 'assets/img/default-profile-picture.png'" alt="Foto de perfil" class="img-fluid rounded-circle restaurant-image" style="width: 50px; height: 50px; padding: 5px;">Bienvenido/a {{ user.name }}</h2><br>
    <hr>
    <br>
    <div class="container">
        <div class="row">
          <!-- Primera columna -->
          <div class="col-md-6">
            <h3>Información Básica</h3>
            <div class="user-details">
                <div class="user-detail">
                    <div class="detail-label">Nombre:</div>
                    <div class="detail-value">
                      <input type="text" class="form-control" [(ngModel)]="user.name" name="name">
                    </div>
                  </div>
                  <div class="user-detail">
                    <div class="detail-label">Correo Electrónico:</div>
                    <div class="detail-value">
                      <input type="email" class="form-control" [(ngModel)]="user.email" name="email">
                    </div>
                  </div>
                  
              <div class="detail-label">Imagen de Perfil:</div>
                <div class="detail-value">
                  <img *ngIf="user" [src]="user.profilePicture ? user.profilePicture : 'assets/img/default-profile-picture.png'" alt="Foto de perfil" class="img-fluid rounded-circle restaurant-image" style="width: 50px; height: 50px;">
                </div>
            </div>
          </div>
          <!-- Segunda columna -->
          <div class="col-md-6">
            <h3>Información Básica</h3>
            <div class="user-details">
              <div class="user-detail">
                <div class="detail-label">Nombre:</div>
                <div class="detail-value">{{ user.name }}</div>
              </div>
              <div class="user-detail">
                <div class="detail-label">Correo Electrónico:</div>
                <div class="detail-value">{{ user.email }}</div>
              </div>
              <div class="user-detail">
                <div class="detail-label">Imagen de Perfil:</div>
                <div class="detail-value">
                  <img *ngIf="user" [src]="user.profilePicture ? user.profilePicture : 'assets/img/default-profile-picture.png'" alt="Foto de perfil" class="img-fluid rounded-circle restaurant-image" style="width: 50px; height: 50px;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
</div>
