<div class="container justify-content-center mt-5 form-container">
    <p class="title">Acceso al Panel de Administrador</p>
    <form class="form" (ngSubmit)="loginUser()">
      <input type="email" class="input" placeholder="Email" name="email" [(ngModel)]="name">
      <input type="password" class="input" placeholder="Contraseña" name="password" [(ngModel)]="password">
      <button type="submit" class="form-btn">Iniciar sesión</button>
    </form>
      <p class="sign-up-label text-center">
        <span class="sign-up-link" [routerLink]="['/restaurants']">Volver</span>
      </p>
  
</div>
<div *ngIf="loginError" class="error-message" style="text-align: center;">
  Este usuario no es admin
</div>