<div *ngIf="user?.bookings?.length > 0; else noUser">
  <h2>Listado de Reservas</h2>
  <ul>
    <li *ngFor="let booking of user?.bookings">
      <div>ID: {{ booking?.id }}</div>
      <div>Número de comensales: {{ booking?.numberDiners }}</div>
      <div>Fecha de creación: {{ booking?.createdAt | date }}</div>
      <div>Fecha de reserva: {{ booking?.reservedAt | date }}</div>
      <div *ngIf="booking?.restaurant">
        <div>Restaurante: {{ booking?.restaurant?.name }}</div>
        <div>Dirección: {{ booking?.restaurant?.location }}</div>
        <div>Horario: {{ booking?.restaurant?.timetable}}</div>
      </div>
    </li>
  </ul>
</div>

<ng-template #noUser>
  <p>No hay reservas disponibles.</p>
</ng-template>
